

<ul>
  <li>
    <a href="./manage-users" class="nav-link">MANAGE USERS</a>
  </li>
  <li>
    <details class="nav-collapsible">
      <summary>MANAGE DATA</summary>
      <a href="./submit-data-boxuploader" class="nav-link">submit lab data and metadata</a>
      <a href="./link-metadata-to-data" class="nav-link">link existing data with a new metadata entry</a>
    </details>
  </li>
  <li>
    <details class="nav-collapsible">
      <summary>MANAGE FORMS</summary>
      <a href="./edit-form-entry" class="nav-link">create new metadata form</a>
      <a href="./manage-forms" class="nav-link">edit existing metadata form</a>
    </details>
  </li>
  <li>
    <a href="./browse-datametadata" class="nav-link">BROWSE METADATA</a>
  </li>
  <li>
    <a href="./browse-data" class="nav-link">BROWSE DATA</a>
  </li>
  <li>
    <a href="./faq" class="nav-link">FAQ</a>
  </li>
  <li>
    <a href="./logout" class="nav-link">LOGOUT</a>
  </li>
</ul>
