

<ul>
  <li><a href="./manage-users" class="nav-link">MANAGE USERS</a></li>
  <li><a href="./manage-data" class="nav-link">MANAGE DATA</a></li>
  <li><a href="./manage-forms" class="nav-link">MANAGE FORMS</a></li>
  <li><a href="./browse-datametadata" class="nav-link">BROWSE METADATA</a></li>
  <li><a href="./browse-data" class="nav-link">BROWSE DATA</a></li>
  <li><a href="./faq" class="nav-link">FAQ</a></li>
  <li><a href="./logout" class="nav-link">LOGOUT</a></li>
</ul>
