

<ul>
  <li><a href="./manage-users">MANAGE USERS</a></li>
  <li><a href="./manage-data">MANAGE DATA</a></li>
  <li><a href="./manage-forms">MANAGE FORMS</a></li>
  <li><a href="./browse-datametadata">BROWSE METADATA</a></li>
  <li><a href="./browse-data">BROWSE DATA</a></li>
  <li><a href="./faq">FAQ</a></li>
  <li><a href="./logout">LOGOUT</a></li>
</ul>
