<% if (locals.loggedIn) { %>
    <div id="update-password" class="box">
        <div>

            <p class="form-label">UPDATE PASSWORD for user <%= username%>.</p>

            <form action="/update-password" method="post" id="updatePasswordForm">
                <input name="oldPassword" id="oldPasswordUpdatePassword" type="password", placeholder="old password">
                <input name="newPassword" id="newPasswordUpdatePassword" type="password", placeholder="new password">
            </form>
            
            <!-- Include a submit form field -->
            <button class="myform" type="submit" form="updatePasswordForm">update password</button>
        </div>
    </div>
<% } %>