	

html {
	height:100%;
	font-family: Helvetica;
	font-size: 1.5em;
}

body  
{
	padding:0;
	margin:0;
	height:100%;
	width: 100%;
	background-color: #eee;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
}

#content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll
}

#content-feed {
	padding-top: 5em;
	width: 80%;
}

#header {
	width:min-content;
	font-family: sans-serif;
	border-right: solid 1px #000;
	padding-top: 2.5em;
	margin-top: -0.5em;
	margin-bottom: 2.5em;
}

h1 {
	margin: 10px;
}

h2 {
	margin: 10px;
}

h3 {
	margin: 10px ;
	
}

h4 {
	margin: 5px;
}



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
}

li {
	white-space: nowrap;
}

.active {
	background-color: #4CAF50;
}

#footer {
	width:60%;
	position:fixed;
	bottom:0;
	left:0;
	pointer-events:none;
}
	
#footer-right {
	width:100%;
	position:fixed;
	bottom:0;
	left:-30px;
	float: right;
	pointer-events:none;
}

a { color: #000; }
a.nav-link {
	color: #777;
	display: block;
	padding: 3em 1em 0 1em;
	text-decoration: none;
}
a.metadata-link { text-decoration: none; }
a:hover {color: #bbbbbb; text-decoration: none; }
a.nav-link:hover:not(.active) { background-color: #333; }

details.nav-collapsible summary {
	color: #777;
	display: block;
	padding: 3em 1em 0 1em;
	list-style: none;
	cursor: pointer;
}
details.nav-collapsible > summary::-webkit-details-marker {
	display: none;
}
details.nav-collapsible > summary:hover:not(.active) { background-color: #333; }
details.nav-collapsible > a {
	margin: 0 1em 0 2em;
}
		
p {
  color: #000; 
  margin: 0 0 1em 0;
}

p.anim{
  color: black; 
  margin: 5px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
  animation: type 4s steps(60, end); 
}

p.anim:nth-child(2){
  animation: type2 8s 
steps(60, end);
}

p.anim a{
  color: lime;
  text-decoration: none;
}

p.authorlist{
}

p.abstracttext{
  max-height: 100%
  overflow:auto;
  clear:both;

}

img.abstractimage{
	float:right;
	max-width: 50%;
	max-height: 100%
	clear:both;
}

@keyframes type{ 
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: mediumaquamarine;
}

.box
{
	position: relative;
	width:100%;
	margin: 0 auto 1em auto;
	border-bottom: solid 1px #777;
}

.box > div {
	overflow: auto;
}

.minio_folder_li.selected
{
	background-color: lightgreen;
}

.flexbox-container
{
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	overflow-x: hidden;
}

.flexbox-container > #header {
	position: unset;
}

.flexbox-container > footer > #footer-right {
	position: unset;
}

#update-password > div {
	overflow: auto;
}

#embedded-content {
	flex-grow: 1;
	border: none;
	margin: 0;
	padding: 0;
}

#minio-browser {
	height: 100%;
	width: 100%;
}

.hidden {
	display:none;
}

button.myform {
	width: 25%;
	margin: 0.5em auto .75em auto;
	display: block;
}

#metadata_form_label {
	position: relative;
	left: 30px;
	margin: 0 auto;
	width: 500px;
}

#bucket-selector-container {
	height: 600px;
	width: 600px;
	position: relative;
	left: 30px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #777
}

#folder-selector-container {
	height: 600px;
	width: 600px;
	position: relative;
	left: 30px;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	border: 1px solid #777
}

#selector {
	margin-top: 10px;
}

#selected_files {
	display: grid;
}

.minio_folder_li {
	float: none;
	padding-left: 15px;
	cursor: pointer;
}

.minio_object {
	float: none;
	padding-left: 15px;
}

.faq-question {
	font-weight: bold;
}

.form-label {
	font-weight: bold;
}

.greeting {
	font-weight: bold;
}