	html {
		height:100%;	
		background-color=purple;
	}
	
	body  
	{
		background-color=orange;
		padding:0;
		height:100%;
		margin:0;
		background: linear-gradient(gray,white);
		background-attachment: fixed;
	}


	#header {
		background-color:#666;
		height:50px;
		font-family: Oswald, sans-serif;
		position:fixed;
		top:0px;
		z-index:100000;
		width:100%;
		min-width:600px;
	}

	h1 {
		font-family: Oswald, sans-serif;
		font-size: 24px;
		margin: 10px;
		font-weight:400;
	}

	h2 {
		font-family: Oswald, sans-serif;
		font-size: 17px;
		margin: 10px;
		font-weight:400;
	}

	h3 {
		font-family: Lato, sans-serif;
		font-size:15px;
		margin: 10px ;
		font-weight:300;
		
	}

	h4 {
		font-family: Oswald, sans-serif;
		font-size:16px;
		margin: 5px;
		font-weight:100;
	}

	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: transparent;
	}

	li {
	    float: right;
	}

	li a {
	    display: block;
	    color: blue;
	    text-align: center;
	    padding: 13px 24px;
	    text-decoration: none;
	}

	li a:hover:not(.active) {
	    background-color: #333;
	}

	.active {
	    background-color: #4CAF50;
	}


	.content {
		background-color:#777;
		padding-top:100px;   /* Height of the footer element */	
		height:100%;
		margin:0;
        /*padding:100px;*/
        margin-bottom: 20px;



	}
	#footer {
		width:60%;
		position:fixed;
		bottom:0;
		left:0;
		padding:10px;
	}
		
	#footer-right {
		width:100%;
		position:fixed;
		bottom:0;
		left:-30px;
		padding:25px;
		padding-right:40px;
		float: right;
	}

	a:link {color: #000000; text-decoration: underline; }
	a:active {color: #0000ff; text-decoration: underline; }
	a:visited {color: #000000; text-decoration: underline; }
	a:hover {color: #bbbbbb; text-decoration: none; }
		
p {
  color: black; 
  font-family: "Oswald";
  font-size: 20px;
  margin: 5px 0 0 10px;
}

p.anim{
  color: black; 
  font-family: "Oswald";
  font-size: 20px;
  margin: 5px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
  animation: type 4s steps(60, end); 
}

p.anim:nth-child(2){
  animation: type2 8s 
steps(60, end);
}

p.anim a{
  color: lime;
  text-decoration: none;
}

p.authorlist{
  font-family: "Oswald";
  font-size: 16px;	
}

p.abstracttext{
  font-family: Lato, sans-serif;
  font-size: 13px;	
}

span{
  animation: blink 1s 
infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

.box
{
	font-family: Oswald, sans-serif;
	position: relative;
	width:700px;
	padding: 10px;
	background-color: #fff;
	margin: 0 auto;
	margin-top:40px;
	margin-bottom: 20px;  /*spacing between boxes */
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box:before, .box:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.box:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
} 