<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<% include ../partials/head %>

</head>

<body onload=insertText()>

	<div id="header">

		<% var currentNavItem= "browse-metadata-nav-item"; %>
		<% include ../partials/header %>

	</div>

	<div id="content">
		<div id="content-feed">

			<div class="box">

				<div class="greeting">
					<p>
						Welcome <span class="username"><%= username%></span> to the data metadata browser page!
					</p>
					<p>
						Here you can scroll through or search existing metadata entries.
					</p>
				</div>

				<div id="metadata_search">
					<form action="/browse-datametadata" method="get" class="myform">
						<input name="search_field" type="text", placeholder="metadata field">
						<input name="search_term" type="text", placeholder="search term">
						<input type="submit" value="search">
					</form>
				</div>

			</div>


			<div id="metadata-entries">
				<div>
					<p>
						If you are seeing this, metadata did not populate correctly. Whoops...
					</p>
				</div>
			</div>

		</div>
	</div>

	<% include ../partials/draw-metadata-entries-mongo %>


</body>
</html>
