<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<% include ../partials/head %>


</head>

<body>

	<div id="header">

		<% var currentNavItem= "faq-nav-item"; %>
		<% include ../partials/header %>

	</div>

	<div id="content">

		<div id="content-feed">
			<div class="box">
				<div class="greeting">
					<p>Welcome to the minimo FAQ!</p>
				</div>
			</div>

			<div class="box">
				<div>
					<p class="faq-question">What is this app?</p>
					<p class="faq-answer">
						minimo is a “linked data & metadata storage system” for small labs. It grew out of our own needs as a small lab to enforce the entry and linking of metadata. It includes a web app for uploading data and metadata.
					</p>

				</div>
			</div>

			<div class="box">
				<div>
					<p class="faq-question">Requirements?</p>
					<p class="faq-answer">
						This app is primarily tested on the Firefox and Chrome browsers, so you should use one of them.
					</p>

				</div>
			</div>

			<div class="box">
				<div>
					<p class="faq-question">What do I do if something goes wrong?</p>
					<p class="faq-answer">
						This is betaware. Try to document the steps leading up to your problem and send to us.
					</p>
					<p class="faq-answer">
						If you were trying to upload data and the app timed out, then you should check if the data was only partially uploaded. Same thing if you were editing forms, metadata, or anything. Best err on the side of caution with this.
					</p>
					<p class="faq-answer">
						Whatever the case, log out and log back in and try to do it again. If you get an error again, contact us for help debugging.
					</p>

				</div>
			</div>

			<div class="box">
				<div>
					<p class="faq-question">How do I use this app?</p>
					<p class="faq-answer">
						This app is used to upload raw data to your lab server and encourages you to add metadata.
					</p>
					<p class="faq-answer">
						Go to “MANAGE DATA,” click “SUBMIT,” and follow the instructions there. In brief, you will upload a SINGLE folder.
					</p>
					<p class="faq-answer">
						If the data is already on MinIO and you want to associate it with new metadata, go to “MANAGE DATA,” click “LINK,” select your data’s MinIO folder, and fill out the metadata form as usual.
					</p>
				</div>
			</div>

			<div class="box">
				<div>
					<p class="faq-question">What if the metadata isn't detailed enough for my experiments?</p>
					<p class="faq-answer">	
						You can edit the metadata forms in “MANAGE FORMS”. Here you can add new fields or edit existing fields . Exercise thought before adding fields and creating unnecessary scribing work.
					</p>
				</div>
			</div>
		</div>


	</div>


</body>
</html>
