<!DOCTYPE html>
<html lang="en-US">

<head>

	<% include ../partials/head %>
    <meta charset="utf-8" />

    <title>minimo Content Picker</title>

    <!-- polyfill.io only loads the polyfills your browser needs -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Intl"></script>

    <!-- Latest version of the uploader css for your locale -->
    <link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/elements/7.2.0/en-US/picker.css" />
    
</head>


<body>

	<div id="header">

		<% include ../partials/header %>


	</div>

    <br><br><br><br><br>

    <div style="height:600px;width:600px;position: relative;left: 30px;margin: 0 auto;background-color: #fff;">
        <ul id="bucket_browser">
        </ul>>
    </div>

    <script type="text/javascript">
        function retrieveDataObjects(prefix)  {
            fetch(`/list-data-objects?prefix=${prefix}`).then((response) => {
                response.json().then((data) => {
                    console.log(data);

                    var parent_list = document.getElementById(prefix === "" ? "bucket_browser" : prefix + "_folder");
                    for (var i = 0; i < data.length; i++) {
                        // add new ul to parent list
                        if ("prefix" in data[i]) {
                            var fully_qualified_name = data[i]["prefix"]
                            var folder_name = fully_qualified_name.slice(prefix.length)
                            var child_li = document.createElement("li");
                            child_li.setAttribute("style", "float: none;padding-left: 15px");
                            child_li.appendChild(document.createTextNode(folder_name));
                            child_li.setAttribute("id", fully_qualified_name);
                            child_li.setAttribute("class", "minio_folder_li");
                            var child_ul = document.createElement("ul");
                            child_ul.setAttribute("id", fully_qualified_name + "_folder");
                            child_ul.setAttribute("class", "minio_folder");
                            child_li.appendChild(child_ul)
                            parent_list.appendChild(child_li)
                        }
                        // add new li to parent ul
                        if("name" in data[i]) {
                            var fully_qualified_name = data[i]["name"]
                            var object_name = fully_qualified_name.slice(prefix.length)
                            var li = document.createElement("li");
                            li.setAttribute("style", "float: none;padding-left: 15px");
                            li.appendChild(document.createTextNode(object_name));
                            li.setAttribute("id", fully_qualified_name);
                            li.setAttribute("class", "minio_object");
                            parent_list.appendChild(li);
                        }
                    }
                });
            }).catch((e) => {
                console.error(e);
            });
        }
    </script>
    <script type="text/javascript">
        retrieveDataObjects('');
    </script>

    <!-- adapted from https://stackoverflow.com/questions/5116929/get-clicked-li-from-ul-onclick -->
    <script type="text/javascript">
        function getEventTarget(e) {
            e = e || window.event;
            return e.target || e.srcElement; 
        }

        var ul = document.getElementById('bucket_browser');
        ul.onclick = function(event) {
            var previouslySelected = document.getElementsByClassName("minio_folder_li selected");
            if (previouslySelected.length > 0) {
                previouslySelected[0].classList.remove("selected");
            }
            var target = getEventTarget(event);
            target.classList.add("selected");
            if (!target.classList.contains("expanded")) {
                retrieveDataObjects(target.id);
                target.classList.add("expanded");
            }
        };
    </script>

    <script type="text/javascript">

        // listener for completed request
        function submitForm() {

            try{

                // grab the data folder id, which is the id of the selected folder 
                folderID = document.getElementsByClassName("minio_folder_li selected")[0].id.slice(0, -1);

                // folder choser doesn't return subfiles, so just store id
                var fl = '{ "fl" : ["linked"], "folderID":"' + folderID + '"}'

                // take the filelist (data from event) and append to form
                document.getElementById('metadata_form').filelist.value = fl

                // submit the form
                document.getElementById('metadata_form').submit()

            }

            catch(e){

                console.log('Error during upload: ' + e)

            }
        }
        
    </script>

    <br><br>

    <div id="metadata_form_label" style="position: relative;left: 30px;margin: 0 auto; width: 500px">
    
        <p>
            Select your data folder (formatted "YYYYMMDD_INITIALS"), fill out the form, and hit submit! The form will submit when data upload is complete.
        </p>

        <p>
            Please note that your name and the date are automatically added.
        </p>

    </div>

    <br><br>

    <% include ../partials/metadata-form-mongo %>

    <button onclick="submitForm()" style="float: right;">submit</button>

    <br><br><br><br>

	<footer>
		
		<% include ../partials/footer %>

	</footer>

</body>
</html>






