<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>

	<% include ../partials/head %>


</head>

<body>

	<div id="header">
		
		<% var currentNavItem= "faq-nav-item"; %>
		<% include ../partials/header %>

	</div>

	<div id="content">
		<div id="content-feed">
			<div id="login" class="box">
				<div>

					<p>Please enter your credentials.</p>

					<form action="/login" method="post" id="logInForm">
						<input name="username" id="usernameLogIn" type="text", placeholder="username">
						<input name="password" id="passwordLogIn" type="password", placeholder="password">
					</form>
					
					<!-- Include a submit form field -->
					<button class="myform" type="submit" form="logInForm">log in</button>
				</div>
			</div>
		</div>
	</div>


</body>
</html>
