<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>

	<% include ../partials/head %>


</head>

<body onload=drawUserTable()>

	<div id="header">

		<% var currentNavItem= "manage-users-nav-item"; %>
		<% include ../partials/header %>

	</div>

	<div id="content">
		<div id="content-feed">

			<!-- update -->
			<% include ../partials/update-password-form %>

			<!-- add -->
			<div id="add" class="box">
				<div>

					<p class="form-label">ADD a new user.</p>

					<form action="/add-user" method="post" id="addUserForm">
						<input name="username" id="usernameAdd" type="text", placeholder="username">
						<input name="password" id="passwordAdd" type="password", placeholder="password">
					</form>
					
					<!-- Include a submit form field -->
					<button class="myform" type="submit" form="addUserForm">add user</button>
				</div>
			</div>

			<!-- remove -->
			<div id="remove" class="box">
				<div>

					<p class="form-label">REMOVE a user.</p>

					<form action="/remove-user" method="post" id="removeUserForm">
						<input name="username" id="usernameRemove" type="text", placeholder="username">
					</form>
					
					<!-- Include a submit form field -->
					<button class="myform myform-red" type="submit" form="removeUserForm">remove user</button>
				</div>
			</div>

			<!-- toggle admin -->
			<div id="admin" class="box">
				<div>

					<p class="form-label">toggle user ADMIN status.</p>

					<form action="/toggle-admin" method="post" id="toggleAdminForm">
						<input name="username" id="usernameToggleAdmin" type="text", placeholder="username">
					</form>
					
					<!-- Include a submit form field -->
					<button class="myform" type="submit" form="toggleAdminForm">toggle admin</button>
				</div>
			</div>

			<div id="userTable" class="box"></div>
		</div>
	</div>

	<script>

		function drawUserTable() {

			var userAccounts = <%- accounts %>;

			// get account attributes and append to table
			tableHtml = "<table><tr><th>username</th><th>admin?</th></tr>"
			for(i=0; i < userAccounts.length; i++){
				account = userAccounts[i]
				tableHtml += "<tr><td>" + String(account['username']) + "</td><td>"  + String(account['administrator']) + "</td></tr>"
			}
			tableHtml += "</table"

			document.getElementById('userTable').innerHTML = tableHtml
		}

	</script>

</body>
</html>
