<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>

	<% include ../partials/head %>


</head>

<body onload=insertText()>

	<div id="header">

		<% var currentNavItem= "manage-forms-nav-item"; %>
		<% include ../partials/header %>

	</div>

	<div id="content">
		<div id="content-feed">
			<div class="box">
				<div class="greeting">
					<p>
						Welcome <span class="username"><%= username%></span> to the metadata form modification page!
					</p>
					<p>
						Please select what you want to do.
					</p>
				</div>
			</div>

			<!-- edit -->
			<div id="edit" class="box">
				<div>

					<p class="form-label">UPDATE an existing metadata form entry.</p>

					<form action="/edit-form-entry" method="get" id="editForm">
						<select class="myform" id="editSelect" name="editSelect">
						</select>
					
					</form>
					
					<!-- Include a submit form field -->
					<button class="myform" onclick="submitForm('editForm')">edit</button>

				</div>
			</div>

			<!-- delete -->
			<div id="delete" class="box">
				<div>

					<p class="form-label">DELETE a metadata form entry.</p>

					<form action="/delete-form-entry" method="post" id="deleteForm">
						<select class="myform" id="deleteSelect" name="deleteSelect" onchange="confirmDelete()">
						</select>

						<!-- Hidden text form for uid -->
						<div class="hidden">
							<input name="uid" id="uidDelete" type="text">
						</div>

					</form>
					
					<div class="hidden" id="confirmDelete">
						<p>Clicking "delete" will delete the form "</p><p id="confirmFormName"></p><p>." This form has been used to submit metadata </p><p id="confirmFormUses"></p><p> times. Please confirm that this is what you wish to do.</p>
						<button id="confirmButton" onclick="enableDelete()">Confirm</button>
					</div>

					<!-- Include a submit form field -->
					<button class="myform myform-red" id="deleteButton" onclick="submitForm('deleteForm')">delete</button>
				</div>
			</div>
		</div>
	</div>

	<script>

		function insertText(){

			// get forms
			var editSelect = document.getElementById("editSelect")
			var deleteSelect = document.getElementById('deleteSelect')

			// get form information
			var docsObject = <%- docs %>;
			var fieldToGrab = "form name"

			// create default blank options
			var option = document.createElement("option")
			var option2 = document.createElement("option")
			option.text = 'select form'
			option2.text = 'select form'
			option.setAttribute("disabled", true)
			option2.setAttribute("disabled", true)
			option.setAttribute("selected", true)
			option2.setAttribute("selected", true)
			editSelect.add(option)
			deleteSelect.add(option2)

			i = 0
			while (i < docsObject.length){

				// get obj
				obj = docsObject[i]

				// hopefully every object has a form name...
				if (obj.hasOwnProperty(fieldToGrab)){

					// if so add it to our dropdowns
					var option = document.createElement("option")
					var option2 = document.createElement("option")
					var name = obj[fieldToGrab]
					option.text = name
					option2.text = name

					// add option to selects
					editSelect.add(option)
					deleteSelect.add(option2)
				}

				// increment counter
				i = i + 1

			}
		}

		function confirmDelete() {
			let docsObject = <%- docs %>;
			let selectedFormName = document.getElementById('deleteSelect').value;
			for (i = 0; i < docsObject.length; i++) {
				if (docsObject[i]['form name'] === selectedFormName) {
					if (docsObject[i]['uses']) {
						let uses = docsObject[i]['uses'];
						document.getElementById('deleteButton').disabled = true;
						document.getElementById('confirmDelete').classList.remove('hidden');
						document.getElementById('confirmFormName').innerHTML = selectedFormName;
						document.getElementById('confirmFormUses').innerHTML = uses;
					}
					break;
				}
			}
		}

		function enableDelete() {
			document.getElementById('deleteButton').disabled = false;
		}

		// helper function to submit form
		function submitForm(formName){

			// submit for 
			document.getElementById(formName).submit()

		}




	</script>


</body>
</html>
