<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>

	<% include ../partials/head %>


</head>

<body>

	<div id="header">

		<% include ../partials/header %>

	</div>

	<div id="content"><br><br>

		<!-- add -->
		<div id="add" class="box">
			<div style="overflow:auto;">

				<p>UPDATE PASSWORD for user <%= username%>.</p>

				<form action="/update-password" method="post" id="updatePasswordForm">
                    <input name="oldPassword" id="oldPasswordUpdatePassword" type="text", placeholder="old password">
                    <input name="newPassword" id="newPasswordUpdatePassword" type="text", placeholder="new password">
				</form>
				
				<!-- Include a submit form field -->
				<button class="myform" type="submit" form="updatePasswordForm">update password</button>
			</div>
		</div>


	</div>


<footer>

	<% include ../partials/footer %>

</footer>


</body>
</html>
